body {
    background-color: #000;
    color: #fff;
    min-width: 1213px;
    width: auto !important;
    font-family: 'Arial', sans-serif;
}

/* Estilos generales */
.logo {
    margin-right: 5px;
}

table.light tr th:first-child {
    border-radius: 5px 0 0 0;
}

table.light tr th {
    border-radius: 5px 0 0 0;
}

table.light thead tr th {
    background: rgba(255, 255, 255, 0.1);
    font-size: 12px;
    font-weight: 700;
    color: #ff4081;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 1px solid #ff4081;
}

table.light tr td {
    padding: 15px;
    font-size: 16px;
    color: #bdbdbd;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.1);
    vertical-align: middle;
}

.minestat h3 {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
    color: #ff4081;
}

.marketplace {
    padding-bottom: 100px;
}

.divider {
    margin: 20px 0;
    border-top: 1px solid #ff4081;
}

.divider_small {
    margin: 5px 0;
    border-top: 1px solid #ff4081;
}

.progress {
    height: 1.5rem;
    background: #ff4081;
}

.beauty_button, .beauty_button_mid, .beauty_button_big {
    padding: 10px;
    color: #fff;
    background-color: #ff4081;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.beauty_button:hover, .beauty_button_mid:hover, .beauty_button_big:hover {
    background-color: #ff79b0;
}

.beauty_button {
    width: 48%;
}

.beauty_button_mid {
    width: 36%;
}

.beauty_button_big {
    width: 97%;
}

.card {
    width: 15.5rem;
    margin: 10px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.owned_card {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    padding: 4px;
    color: #ffffff;
    background-color: #424242;
    display: block;
    width: 42px;
    height: 30px;
    border-radius: 0 0 10px 0;
}

.mining-anim {
    border-radius: 5px;
    background-color: #000;
    background-position: left top;
    background-size: 400px;
    padding: 15px;
    width: 730px;
    height: 430px;
    display: inline-block;
    float: left;
    margin-bottom: 5px;
    color: #c0c0c0;
    font-size: 13px;
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Bitstream Vera Sans Mono', monospace;
    position: relative;
}

.console-text {
    display: inline-block;
    height: 230px;
}

.static-anim {
    display: inline-block;
    position: absolute;
    left: 0;
    font-size: 14px;
    width: 100%;
}

.static-anim ul {
    list-style-type: none;
}

.network-stat {
    display: inline-block;
    position: absolute;
    width: 55%;
    top: 0;
}

.pvp-stat {
    display: inline-block;
    width: 40%;
    position: absolute;
    right: 0;
}

.dos-mining {
    width: 100%;
    background-color: #01abab;
    color: #000;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

#balance, #prodPerSec {
    font-weight: 800;
}

.claymore-green {
    color: #00c853;
}

.claymore-blue {
    color: #00b8d4;
}

.claymore-purple {
    color: #d500f9;
}

.claymore-gold {
    color: #ffab00;
}

.claymore-red {
    color: #d50000;
}

.system_stat {
    height: 220px;
    margin-left: 20px;
    display: inline-block;
}

.h6, h6 {
    font-size: 0.9rem;
}

.jumbotron {
    padding: 1rem 1rem;
    background: #1e1e1e;
    border-radius: 10px;
}

.leaderboard {
    max-width: 800px;
    margin: 20px auto;
}

.market_buttons {
    position: absolute;
    bottom: -10px;
}

.ico_box {
    display: inline-block;
    height: 320px;
    background-color: #424242;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    background-image: url('../images/ico2.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.ico_box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.ico_box h5, .ico_box h6 {
    margin: auto;
    text-align: center;
}

.pull-mid {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.ico_countdown {
    margin: auto;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 30px;
    color: #ff4081;
}

.ico_pot_eth, .ico_pot_yours {
    margin: auto;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.ico_pot_yours {
    font-size: 12px;
}

#left_pct, #right_pct {
    display: inline-block;
    width: 33%;
    font-size: 12px;
}

#left_pct {
    text-align: left;
}

#right_pct {
    text-align: right;
}

#demo {
    display: inline-block;
    width: 33%;
}

.ico_pot {
    margin: auto;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 26px;
    margin-top: -5px;
}

.ico_pot_under {
    text-align: center;
    width: 100%;
    font-size: 13px;
    margin-top: -5px;
    margin-bottom: 10px;
}

.ico-progress {
    width: 90%;
    margin: auto;
}

.ico-buy-button, #debug_newico {
    margin-bottom: 5px;
}

.green-background {
    background-color: #006700;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .8s;
    border-radius: 2px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
}
